<%- include("partials/header") -%>

<h1>Home</h1>
<p><%=startingContent %></p>

<% let truncated="" %>
<% posts.forEach(function(post) { %>
  <div>
  <h3><%= (post.title) %> </h3>
  <p>
   <%= truncated = post.content.substring(0,Math.min(post.content.length,100))+"..."; %>
   <%truncated %>
   <a href="/posts/<%=post._id%>">Read more</a>
  </p> 

  </div>
<% }) %>
<!-- <form action="/compose" method="post"> -->
  
    <a href="/compose" >
       <button class="btn btn-info" type="submit">
         Write a Post
       </button></a>
    
<!-- </form> -->

<%- include("partials/footer") -%>